.select-body{
    background: linear-gradient(0deg, rgba(25,70,99,1) 0%, rgba(29,41,51,1) 4%);

    .navbar-select{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        ul{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .year-link-select{
            list-style: none;
            text-align: center;
            margin: 0 auto;
            margin: 10px 40px 10px 10px;
            padding: 1rem 1rem 1rem 1rem;
            border-radius: 10px;
            &:hover{
                background-color: rgba(255, 255, 255, 0.397);
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}